* {
    margin: 0;
    padding: 0;
}

form {
    position: fixed;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1.5s;
    background: white;
    width: 400px;
    height: 500px;
    border-radius: 5px;
}

span.form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 160px;
    text-align: center;
}

#close:hover {
    cursor: pointer;
    background-color: #737171;
}

#reset:hover {
    cursor: pointer;
    background-color: #403d3d;
}